<ion-header [translucent]="true">
  <app-header [pageTitle]="pageTitle"></app-header>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button color="#7c107c" type="submit" (click)="onSubmit()">
          SALVAR
        </ion-button>
        <ion-button fill="outline" color="#7c107c">
          DESCARTAR
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <form [formGroup]="avaliacaoForm" class="container mt-4">
      <div class="row">
 <div class="col">
          <div class="form-group">
            <label for="colaborador">Colaborador:</label>
            <select class="form-control" name="colaborador" id="colaborador" formControlName="colaborador" (change)="buscarNomeCompleto()">
              <option value="">Selecione o Colaborador</option>
              <option *ngFor="let colaborador of colaboradores" [value]="colaborador.nomeCompleto">
                {{ colaborador.nomeCompleto }}
              </option>
            </select>
          </div>
        </div>

        <div class="col">
          <div class="form-group">
            <label for="setor">Setor:</label>
            <input type="text" class="form-control" id="setor" formControlName="setor" name="setor" readonly>
          </div>
        </div>
      
      </div>

      <div class="row">
        <div class="col">
          <div class="form-group">
            <label for="categoria">Categoria</label>
            <select name="categoria" id="categoria" class="form-control" formControlName="categoria">
              <option value="">Selecione uma Categoria</option>
              <option value="Inovação">Inovação</option>
              <option value="Colaboração">Colaboração</option>
              <option value="Liderança">Liderança</option>
              <option value="Desenvolvimento Pessoal">Desenvolvimento Pessoal</option>
            </select>
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="previstoPAC"
              title=" Se a capacitação estiver prevista no Plano Anual de Capacitação do exercício">
              Capacitação Prevista no PAC
            </label>
            <select name="previstoPAC" id="previstoPAC" class="form-control" formControlName="previstoPAC"
              (change)="calcularPontuacao()">

              <option value="">Selecione um Status</option>
              <option value="Sim">Sim</option>
              <option value="Não">Não</option>
            </select>
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="cargaHoraria">Carga Horária:</label>
            <input class="form-control" type="text" id="cargaHoraria" formControlName="cargaHoraria"
              (input)="calcularPontuacao()">

          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="pontuacao"
              title="Cada 10 horas de capacitação realizadas pelos servidores contarão como 1 ponto. Se a capacitação estiver prevista no Plano Anual de Capacitação do exercício, o servidor receberá 2 pontos por cada 10 horas de certificação.">
              Pontuação
            </label>
            <input type="text" class="form-control" id="pontuacao" required formControlName="pontuacao"
              name="pontuacao">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="form-group">
            <label for="dataAtividade">Data Atividade:</label>
            <input type="date" class="form-control" id="dataAtividade" required formControlName="dataAtividade"
              name="dataAtividade">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="form-group">
            <label for="avaliacao">Avaliação:</label>
            <textarea name="avaliacao" id="avaliacao" cols="30" rows="10" class="form-control"
              formControlName="avaliacao"></textarea>
          </div>
        </div>
      </div>
    </form>
  </ion-grid>
</ion-content>