
<ion-toolbar>
  <ion-buttons slot="start">
    <ion-button (click)="goHome()">
      <ion-icon name="apps"></ion-icon>
    </ion-button>
    <span style="font-weight: bolder; font-size: 15px;">{{pageTitle}}</span> 
  </ion-buttons>

  <ion-buttons slot="end">
    <ion-button>
      <ion-icon name="file-tray-full"></ion-icon>
    </ion-button>
    <ion-button href="/chat">
      <ion-icon name="chatbubbles"></ion-icon>
    </ion-button>
    <ion-button>
      <ion-icon name="bug"></ion-icon>
    </ion-button> 
    <ion-chip >
      <ion-avatar>
        <img alt="Imagem do Usuário" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
  
    </ion-chip>

    
  </ion-buttons>
</ion-toolbar>

