<div class="container">
  <div class="row">

    <div class="col-md-6">
      <ion-card class="card-dashboards-barHorizontal setorMaiorPontuacao">
        <ion-card-header>
          <ion-card-title>Setor com maior pontuação</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <canvas #barChartMaiorPontuacao></canvas>
        </ion-card-content>
      </ion-card>
    </div>

    <div class="col-md-6">
      <ion-card class="card-dashboards-barHorizontal colaboradoresQuantidadePonto">
        <ion-card-header>
          <ion-card-title>Colaboradores X Quantidade de Pontos</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <canvas #barChartColaboradoresPontuacao></canvas>
        </ion-card-content>
      </ion-card>
    </div>


    <div class="col-md-6">
      <ion-card class="card-dashboards-barHorizontal setorMediaPontuacao">
        <ion-card-header>
          <ion-card-title>Setor X Média de Pontuação</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <canvas #pieChartSetorMediaPontuacao></canvas>
        </ion-card-content>
      </ion-card>
    </div>



    <div class="col-sm-6">
      <ion-card class="card-dashboards-barHorizontal colaboradorxcategoria">
        <ion-card-header>
          <ion-card-title>Colaborador x Categoria</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <canvas #pieCharColaboradorCategoria></canvas>
        </ion-card-content>
      </ion-card>
    </div>

  </div>
</div>
