.grid {
  background-color: white;
}

ion-icon[name="trash"] {
  font-size: 18px;
  color: red;
}

.categoria-inovacao {
  background-color: #30c381;

  text-align: center;
}

.categoria-colaboracao {
  background-color: #4caf50;

  text-align: center;
}

.categoria-lideranca {
  background-color: #f44336;

  text-align: center;
}

.categoria-desenvolvimento-pessoal {
  background-color: #2196f3;
  text-align: center;
}



.calendario {
  background-color: #9d3a9d;
  color: white;
  border-radius: 4px;
}

.filtrar {
  background-color: #9d3a9d;
  color: white;
  border-radius: 4px;

  margin-top: 10px;
  height: 10px;
}
