.grid {
  background-color: white;
}

ion-icon[name="trash"] {
  font-size: 18px;
  color: rgba(253, 0, 0, 0.5);

  &:hover {
    color: rgba(253, 0, 0, .8);
  }
}

.categoria-inovacao {
  text-align: center;
  border: solid 1px rgb(157, 58, 157);
  background-color: rgba(157, 58, 157, 0.1);
  color: rgb(157, 58, 157);
}

.categoria-colaboracao {
  text-align: center;
  border: solid 1px rgb(76, 175, 80);
  background-color: rgba(76, 175, 80, 0.1);
  color: #30c381;

  text-align: center;
}

.categoria-desenvolvimento-pessoal {
  border: solid 1px rgb(33, 150, 243);
  background-color: rgba(33, 150, 243, 0.1);
  color: rgb(33, 150, 243);
  text-align: center;
}

.calendario {
  background-color: #7c107c;
  color: #ffffff;
  border-radius: 4px;
  width: 50%;
  max-width: 200px;
  padding: 2px;
  font-size: 14px;
  font-size: 18px;
  border: none;
  border-radius: 3px;
 }

.filtrar {
  background-color: #914891;
  color: rgb(0, 0, 0);
  border-radius: 4px;
  margin-top: 10px;
  height: 10px;
}
.botao-filtrar{
  height: 2px;
}
.card-container {
  background-color: #e6c9c900;;
  padding: 48px;
  border-radius: 10px;
  margin: 20px;
  box-shadow: 4px -6px 26px -25px rgba(0, 0, 0, 0.8509803922);
  height: auto;
}

.card-container .ion-grid {
  margin: 0;
}
.container-conteudo{
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.20);
  padding: 15px;
  width: auto;
}
#print-button{
  align-items: end;
}
.ion-align-items-end {
  display: flex;
  justify-content: flex-end;
}
