<ion-header [translucent]="true">
  <app-header [pageTitle]="pageTitle"></app-header>

  <ion-grid class="grid">
    <ion-row>
      <ion-col>
        <ion-button fill="outline" color="#7c107c" routerLink="/criar-avaliacao">
          CRIAR
        </ion-button>
      </ion-col>
      <ion-col>
        <!-- Adicione um identificador ao botão de impressão -->
        <ion-button id="print-button" fill="clear" size="small" (click)="openPopover($event)">
          <ion-icon name="print"></ion-icon>
          Imprimir
        </ion-button>
      </ion-col>
      <ion-col class="ion-text-end">
        <ion-button fill="outline" class="botao-filtrar" color="#7c107c" (click)="openFilterMenu()">
          <ion-icon name="funnel"></ion-icon>
          Filtrar
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-menu side="end" menuId="filterMenu" contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Filtrar Avaliações</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <form #filtroForm="ngForm" (ngSubmit)="filtrarAvaliacoes(filtroForm.value)">
        <ion-grid>
          <ion-row>
            <ion-col>
              <p>Data de Início</p>
              <ion-item>
                <input type="date" class="calendario" name="dataInicio" ngModel />
              </ion-item>
            </ion-col>
            <ion-col>
              <p>Data de Fim</p>
              <ion-item>
                <input type="date" class="calendario" name="dataFinal" ngModel />
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item>
                <ion-label>Categoria</ion-label>
                <ion-select name="categoria" ngModel>
                  <ion-select-option value="">Nenhum</ion-select-option>
                  <ion-select-option value="Inovação">Inovação</ion-select-option>
                  <ion-select-option value="Colaboração">Colaboração</ion-select-option>
                  <ion-select-option value="Desenvolvimento">Desenvolvimento</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-button type="submit" size="" fill="outline" color="#7c107c">Filtrar</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
    </ion-content>
  </ion-menu>

  <div class="card-container">
    <ion-grid style="font-size: 12px" class="container-conteudo">
      <div class="o_list_view o_list_optional_columns table-responsive-lg">
        <div class="table-responsive">
          <table class="table align-middle table-edge table-nowrap mb-0 table-hover table-borderless">
            <thead class="table-light">
              <tr>
                <th scope="col" title="Nome Completo">Colaborador</th>
                <th scope="col" title="Categoria">Categoria</th>
                <th scope="col" title="Capacitação Prevista no PAC">Capacitação Prevista no PAC</th>
                <th scope="col" title="Carga Horária">Carga Horária</th>
                <th scope="col" title="Pontuação">Pontuação</th>
                <th scope="col" title="Data Atividade">Data Atividade</th>
              </tr>
            </thead>
            <tbody class="p-2">
              <ng-container *ngFor="let avaliacao of avaliacoes">
                <tr class="o_data_row" (click)="editarAvaliacao(avaliacao)">
                  <td>{{ avaliacao.colaborador }}</td>
                  <td>
                    <span class="badge w-50 p-2 tw-bold" [ngClass]="getCategoriaClass(avaliacao.categoria)">
                      {{ avaliacao.categoria }}
                    </span>
                  </td>
                  <td>{{ avaliacao.previstoPAC }}</td>
                  <td>{{ avaliacao.cargaHoraria }}{{ avaliacao.nota }}</td>
                  <td>{{ avaliacao.pontuacao }}</td>
                  <td>{{ avaliacao.dataAtividade | date: 'dd/MM/yyyy' }}</td>
                  <td>
                    <span (click)="excluirAvaliacao(avaliacao.id, $event)">
                      <ion-icon name="trash"></ion-icon>
                    </span>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
      </div>
    </ion-grid>
  </div>
</ion-content>
