<ion-header [translucent]="true">
  <app-header [pageTitle]="pageTitle"></app-header>

  <ion-grid class="grid">
    <ion-row>
      <ion-col>
        <ion-button fill="outline" color="#7c107c" routerLink="/criar-avaliacao">
          CRIAR
        </ion-button>
      </ion-col>
      <ion-col>
        <!-- Adicione um identificador ao botão de impressão -->
        <ion-button id="print-button" fill="clear" size="small" (click)="openPopover($event)">
          <ion-icon name="print"></ion-icon>
          Imprimir
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>
<ion-content>
  <form #filtroForm="ngForm" (ngSubmit)="filtrarAvaliacoes(filtroForm.value)">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label>Data de Início</ion-label>
            <input type="date" class="calendario" name="dataInicio" ngModel />
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label>Data de Fim</ion-label>
            <input type="date" class="calendario" name="dataFinal" ngModel />
          </ion-item>
        </ion-col>
        <ion-col>
          <button type="submit" size="small">Filtrar</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>

  <ion-content [fullscreen]="true">
    <ion-grid style="font-size: 12px">
      <div class="card m-3 border-0 flex-fill wm-100">
        <div class="table-responsive">
          <table class="table align-middle table-edge table-nowrap mb-0 table-hover table-borderless">
            <thead class="table-light">
              <tr>
                <th>
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" id="checkbox-597" class="custom-control-input" />
                    <label for="checkbox-597" class="custom-control-label">​</label>
                  </div>
                </th>
                <th scope="col" title="Nome Completo">Colaborador</th>
                <th scope="col" title="Categoria">Categoria</th>
                <th scope="col" title="Capacitação Prevista no PAC">
                  Capacitação Prevista no PAC
                </th>
                <th scope="col" title="Carga Horária">Carga Horária</th>
                <th scope="col" title="Pontuação">Pontuação</th>
                <th scope="col" title="Data Atividade">Data Atividade</th>
                <th scope="col" title="Action"></th>
              </tr>
            </thead>
            <tbody class="p-2">
              <ng-container *ngFor="let avaliacao of avaliacoes">
                <tr class="o_data_row" (click)="editarAvaliacao(avaliacao)">
                  <td class="o_list_record_selector">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" id="{{ avaliacao.id }}" class="custom-control-input" />
                      <label for="{{ avaliacao.id }}" class="custom-control-label">​</label>
                    </div>
                  </td>
                  <td>{{ avaliacao.colaborador }}</td>
                  <td>
                    <span class="badge w-50 p-2 tw-bold" [ngClass]="getCategoriaClass(avaliacao.categoria)">
                      {{ avaliacao.categoria }}
                    </span>
                  </td>
                  <td>{{ avaliacao.previstoPAC }}</td>
                  <td>{{ avaliacao.cargaHoraria }}{{ avaliacao.nota }}</td>
                  <td>{{ avaliacao.pontuacao }}</td>
                  <td>{{ avaliacao.dataAtividade | date: 'dd/MM/yyyy' }}</td>
                  <td>
                    <span (click)="excluirAvaliacao(avaliacao.id, $event)">
                      <ion-icon name="trash"></ion-icon>
                    </span>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
      </div>
    </ion-grid>
  </ion-content>
</ion-content>