<ion-header [translucent]="true">
  <app-header [pageTitle]="pageTitle"></app-header>

  <ion-grid class="grid">
    <ion-row>
      <ion-col>
        <ion-button fill="outline" class="botao-filtrar" color="#7c107c" (click)="openFilterMenu()">
          <ion-icon name="funnel"></ion-icon>
          Filtrar
        </ion-button>
        <ion-button fill="outline" color="#7c107c" routerLink="/criar-avaliacao">
          CRIAR
        </ion-button>
      </ion-col>
      <ion-col>
        <!-- Adicione um identificador ao botão de impressão -->
        <ion-button id="print-button" fill="clear" size="small" (click)="openPopover($event)">
          <ion-icon name="print"></ion-icon>
          Imprimir
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>
<ion-content>

  <ion-menu side="start" menuId="filterMenu" contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Filtrar Avaliações</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <form #filtroForm="ngForm" (ngSubmit)="filtrarAvaliacoes(filtroForm.value)">
        <ion-grid>
          <ion-row>
            <ion-col>
              <p>Data de Início</p>
              <ion-item>
                <input type="date" class="calendario" name="dataInicio" ngModel />
              </ion-item>
            </ion-col>
            <ion-col>
              <p>Data de Fim</p>
              <ion-item>
                <input type="date" class="calendario" name="dataFinal" ngModel />
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item>
                <ion-label>Categoria</ion-label>
                <ion-select name="categoria" ngModel>
                  <ion-select-option value="">Nenhum</ion-select-option>
                  <ion-select-option value="Inovação">Inovação</ion-select-option>
                  <ion-select-option value="Colaboração">Colaboração</ion-select-option>
                  <ion-select-option value="Desenvolvimento">Desenvolvimento</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-button type="submit" size="" fill="outline" color="#7c107c" >Filtrar</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
    </ion-content>
  </ion-menu>

  <!-- <form #filtroForm="ngForm" (ngSubmit)="filtrarAvaliacoes(filtroForm.value)">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label>Data de Início</ion-label>
            <input type="date" class="calendario" name="dataInicio" ngModel />
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label>Data de Fim</ion-label>
            <input type="date" class="calendario" name="dataFinal" ngModel />
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label>Categoria</ion-label>
            <ion-select name="categoria" ngModel>
              <ion-select-option value="">Nenhum</ion-select-option>
              <ion-select-option value="Inovação">Inovação</ion-select-option>
              <ion-select-option value="Colaboração">Colaboração</ion-select-option>
              <ion-select-option value="Liderança">Liderança</ion-select-option>
              <ion-select-option value="Desenvolvimento">Desenvolvimento</ion-select-option>
              <ion-select-option value="Desenvolvimento Pessoal">Desenvolvimento Pessoal</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col>
          <button type="submit" size="small">Filtrar</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form> -->

  <ion-content [fullscreen]="true">
    <ion-grid style="font-size: 12px">
      <div class="o_list_view o_list_optional_columns table-responsive-lg">
        <div class="table-responsive">
          <table class="o_list_table table-sm table-striped o_list_table_ungrouped table">
            <thead class="o_list_header">
              <tr>
                <th class="o_list_record_selector">
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" id="checkbox-597" class="custom-control-input" />
                    <label for="checkbox-597" class="custom-control-label">​</label>
                  </div>
                </th>
                <th scope="col" title="Nome Completo">Colaborador</th>
                <th scope="col" title="Categoria">Categoria</th>
                <th scope="col" title="Capacitação Prevista no PAC">
                  Capacitação Prevista no PAC
                </th>
                <th scope="col" title="Carga Horária">Carga Horária</th>
                <th scope="col" title="Pontuação">Pontuação</th>
                <th scope="col" title="Data Atividade">Data Atividade</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let avaliacao of avaliacoes">
                <tr class="o_data_row" (click)="editarAvaliacao(avaliacao)">
                  <td class="o_list_record_selector">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" id="{{ avaliacao.id }}" class="custom-control-input" />
                      <label for="{{ avaliacao.id }}" class="custom-control-label">​</label>
                    </div>
                  </td>
                  <td>{{ avaliacao.colaborador }}</td>
                  <td>
                    <span class="badge w-50 p-2 " [ngClass]="getCategoriaClass(avaliacao.categoria)">

                      {{ avaliacao.categoria }}
                    </span>
                  </td>
                  <td>{{ avaliacao.previstoPAC }}</td>
                  <td>{{ avaliacao.cargaHoraria }}{{ avaliacao.nota }}</td>
                  <td>{{ avaliacao.pontuacao }}</td>
                  <td>{{ avaliacao.dataAtividade }}</td>
                  <td> <span (click)="excluirAvaliacao(avaliacao.id, $event)">
                      <ion-icon name="trash"></ion-icon> </span>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
      </div>
    </ion-grid>
  </ion-content>
</ion-content>
