.grid {
    background-color: white;
  }
  
  .categoria-inovacao {
    background-color: #30C381;
    color: #091124;
    border: 1px solid #9d3a9d;
    padding-right: 0.6em;
    padding-left: 0.6em;
    border-radius: 10rem;
    margin: 1px 2px 1px 0;
    text-align: center;

  }
  
  .categoria-colaboracao {
    background-color: #4caf50;
    color: #091124;
    border: 1px solid #9d3a9d;
    padding-right: 0.6em;
    padding-left: 0.6em;
    border-radius: 10rem;
    margin: 1px 2px 1px 0;
    text-align: center;

  }
  
  .categoria-lideranca {
    background-color: #f44336;
    color: #091124;
    border: 1px solid #9d3a9d;
    padding-right: 0.6em;
    padding-left: 0.6em;
    border-radius: 10rem;
    margin: 1px 2px 1px 0;
    text-align: center;

  }
  
  .categoria-desenvolvimento {
    background-color: #2196f3;
    color: #091124;
    border: 1px solid #9d3a9d;
    padding-right: 0.6em;
    padding-left: 0.6em;
    border-radius: 10rem;
    margin: 1px 2px 1px 0;
    text-align: center;

  }
  
  .categoria-desenvolvimento-pessoal {
    background-color: #9c27b0;
    color: #091124;
    border: 1px solid #9d3a9d;
    padding-right: 0.6em;
    padding-left: 0.6em;
    border-radius: 10rem;
    margin: 1px 2px 1px 0;
    text-align: center;

  }
  