<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Departamentos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Departamentos</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Conteúdo da página -->
  <ion-card>
    <ion-card-header>
      Ainda não está pronto
    </ion-card-header>
    <ion-card-content>
      Desculpe, esta página ainda está em construção. Verifique novamente mais tarde.
    </ion-card-content>
  </ion-card>
</ion-content>
