<ion-content [fullscreen]="true">
  <form class="form" [formGroup]="resetPasswordForm" >
    <ion-list>
      <div class="logo" style="text-align: center;">
        <svg width="200" height="200" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
          <circle cx="100" cy="100" r="50" fill="#7c107c" />
          <text x="50%" y="50%" text-anchor="middle" alignment-baseline="middle" font-family="Arial" font-size="30"
            font-weight="bold" fill="white">AiónRH</text>
        </svg>
      </div>
      <span class="d-flex justify-content-center text-bold">Insira um email válido para a recuperação.</span>
     
      <ion-input formControlName="email" label="E-mail" type="email" label-placement="floating" fill="outline"
        placeholder="E-mail"></ion-input>
      <ion-button fill="outline" expand="block" color="#9d3a9d" (click)="resetPassword()">Recuperar Senha</ion-button>
    </ion-list>
  </form>
</ion-content>