<ion-header>
  <ion-toolbar>
    <ion-title>Importação de Planilha</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
      <ion-button (click)="importarPlanilhaProcessada()">
        <ion-icon slot="icon-only" name="cloud-upload-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="container">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Matricula</th>
          <th scope="col">Nome Completo</th>
          <th scope="col">Setor</th>
      </thead>
      <tbody>
        <tr *ngFor="let item of planilhaData">
          <td>{{item.matricula}}</td>
          <td>{{item.nomeCompleto}}</td>
          <td>{{item.setor}}</td>
      </tbody>
    </table>

  </div>


</ion-content>