.grid {
  background-color: white;
}

ion-icon[name="trash"] {
  font-size: 18px;
  color: rgba(253, 0, 0, 0.5);

  &:hover {
    color: rgba(253, 0, 0, 0.8);
  }
}

.text-bg-purple {
  background-color: #e0d9f2 !important;
  color: #6d197b !important;
  font-size: 12px !important;
}
.card-container {
  background-color: #e6c9c900;
  margin: 20px;
}

.container-conteudo {
  padding: 48px 16px;
  width: auto;
}

.table {
  font-size: 12px;
}

.custom-checkbox .custom-control-label::before,
.custom-checkbox .custom-control-label::after {
  top: 0.25rem;
  left: 0.25rem;
}

.trash-icon {
  cursor: pointer;
}

ion-icon[name="trash"] {
  font-size: 18px;
  color: rgba(253, 0, 0, 0.5);
}

ion-icon[name="trash"]:hover {
  color: rgba(253, 0, 0, 0.8);
}
