.grid {
  background-color: white;
}

ion-icon[name="trash"] {
  font-size: 18px;
  color: red;
}

.text-bg-purple {
  background-color: #e0d9f2 !important;
  color: #6d197b !important;
  font-size: 12px !important;
}
